/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  color: #B3B3B3;
  background-color: #000000;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #F2F2F2;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

.button {
  background-color: hsla(0, 0%, 100%, 0.2) !important;
  padding: 1.25rem 1.5rem;
  color: #F2F2F2;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  backdrop-filter: blur(2px);
}
.button i {
  font-size: 1.25rem;
  transition: transform 0.4s;
  font-weight: initial;
}
.button:hover i {
  transform: translateX(0.25rem);
}

.container {
  max-width: 1120px;
  margin-inline: auto;
  padding-inline: 3rem;
  padding-block: 5rem 1rem;
}
.container-header {
  padding: 0;
}
@media screen and (max-width: 575px) {
  .container {
    padding: 3rem 0.5rem;
  }
}

.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 4;
}
@media screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
}
.header__logo img {
  max-width: 70px;
}
.header__nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__nav {
    margin-inline: 1.5rem;
  }
}
.header__toggle {
  display: none;
}
@media screen and (max-width: 767px) {
  .header__toggle {
    display: flex;
    font-size: 1.25rem;
    color: #F2F2F2;
    cursor: pointer;
  }
}
.header__close {
  display: none;
}
@media screen and (max-width: 767px) {
  .header__close {
    display: flex;
    font-size: 1.25rem;
    color: #F2F2F2;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  .header__wrap {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 100%;
    padding-block: 4rem;
    transition: top 0.4s;
    backdrop-filter: blur(24px);
  }
}
.header__wrap.open {
  top: 0;
}
.header__links {
  text-align: center;
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
@media screen and (max-width: 767px) {
  .header__links {
    flex-direction: column;
    gap: 2.5rem;
  }
}
.header__links a {
  color: #F2F2F2;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.header-scroll:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(24px);
  z-index: -1;
}

.footer {
  background-color: #141414;
  padding: 5rem 0 3rem;
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 1rem 0;
  }
}
.footer__upper {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 7rem;
}
@media screen and (max-width: 767px) {
  .footer__upper {
    flex-direction: column;
  }
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .footer_bottom {
    display: grid;
    row-gap: 3rem;
    align-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
@media screen and (max-width: 767px) {
  .footer__grid {
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}
.footer__grid-title {
  color: #F2F2F2;
  margin-bottom: 1.5rem;
}
.footer__grid-links {
  display: grid;
  row-gap: 0.75rem;
}
.footer__grid-links li a {
  text-decoration: none;
  color: #999999;
}
.footer__copyright {
  color: #999999;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: auto;
    order: 1;
  }
}
.footer__media-links {
  display: flex;
  gap: 1.5rem;
}
.footer__media-links a {
  color: #999999;
  font-size: 1.5rem;
  transition: 0.4s;
}
.footer__media-links a:hover {
  color: #F2F2F2;
  transform: translateY(-0.25rem);
}
@media screen and (max-width: 767px) {
  .footer__media-links {
    gap: 4rem;
    margin: auto;
    justify-content: space-around;
  }
}

.branding__logo img {
  max-width: 70px;
}
@media screen and (max-width: 767px) {
  .branding__logo img {
    margin: auto;
  }
}
.branding__title {
  color: #999999;
  margin-top: 1.5rem;
}
@media screen and (max-width: 767px) {
  .branding {
    text-align: center;
    max-width: 450px;
    margin: auto;
  }
}

.hero {
  position: relative;
}
.hero__shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 58%, hsl(0, 0%, 0%) 78%);
  height: 150px;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .hero__main {
    text-align: center;
  }
}
.hero__subheading {
  margin-bottom: 0.5rem;
}
.hero__heading {
  font-size: 4rem;
  margin-bottom: 1rem;
}
.hero__text {
  margin-bottom: 2rem;
  color: #F2F2F2;
  max-width: 550px;
}
@media screen and (max-width: 767px) {
  .hero__text {
    margin-inline: auto;
  }
}
.hero__locations {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  gap: 1.5rem;
  padding-top: 3rem;
}
@media screen and (max-width: 767px) {
  .hero__locations {
    grid-template-columns: repeat(2, 200px);
  }
}
@media screen and (max-width: 575px) {
  .hero__locations {
    grid-template-columns: repeat(1, 200px);
  }
}
.hero__location {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.hero__location:hover .location__image {
  transform: scale(1.1);
}

.location__image {
  transition: transform 0.4s;
}
.location__title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 3;
  font-size: 1.25rem;
}
.location__shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
}

.about__content {
  text-align: center;
}
.about__wrap {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 350px);
  row-gap: 3rem;
}
@media screen and (max-width: 767px) {
  .about__wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
.about__heading {
  margin-bottom: 1.5rem;
}
.about__text {
  margin-bottom: 3rem;
}
.about__image-wrap {
  position: relative;
  overflow: hidden;
  justify-self: center;
}
.about__image {
  width: 300px;
}
.about__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
}

.beauty__heading {
  margin-bottom: 1.5rem;
  text-align: center;
}
.beauty__locations {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  justify-content: center;
  gap: 3.5rem;
}
@media screen and (max-width: 900px) {
  .beauty__locations {
    grid-template-columns: repeat(1, 240px);
    gap: 2.5rem;
  }
}
.beauty__place:hover .place__image {
  transform: scale(1.1);
}

.place__image-wrap {
  position: relative;
  overflow: hidden;
}
.place__image {
  transition: transform 0.4s;
}
.place__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
}
.place__name {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.place__location {
  font-size: 0.8rem;
  color: #B3B3B3;
}
.place__location-wrap {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: #B3B3B3;
}

.explore {
  position: relative;
}
.explore__image-wrap {
  position: absolute;
  overflow: hidden;
}
.explore__image {
  width: 100%;
  height: 333px;
  object-fit: cover;
  object-position: center;
}
.explore__image-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsl(0, 0%, 0%) 5%, hsla(0, 0%, 0%, 0) 40%, hsla(0, 0%, 0%, 0) 60%, hsl(0, 0%, 0%) 92%);
}
.explore__content {
  display: grid;
  position: relative;
  padding-top: 16rem;
  text-align: center;
  row-gap: 2.5rem;
}
.explore__author {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}
.explore__author-img {
  width: 30px;
  border-radius: 50%;
}
.explore__author-name {
  color: #F2F2F2;
  font-size: 0.8rem;
}

.subscribe__content {
  display: grid;
  place-items: center;
  padding: 0 1rem 2.5rem;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 767px) {
  .subscribe__content {
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
.subscribe__image-wrap {
  position: relative;
  justify-self: center;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .subscribe__image-wrap {
    order: 2;
  }
}
.subscribe__image {
  width: 300px;
}
.subscribe__image-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
}
.subscribe__form {
  text-align: center;
}
.subscribe__heading {
  margin-bottom: 1.5rem;
}
.subscribe__text {
  margin-bottom: 2rem;
}
.subscribe__input {
  padding: 1.25rem 1rem;
  background-color: #141414;
  max-width: 290px;
}

.wpcf7-form p {
  display: grid;
  row-gap: 1rem;
  margin: auto;
  max-width: 290px;
}
.wpcf7-form p br {
  display: none;
}