.about {

	&__content {
		@include mediaTablet{
			text-align: center;
		}
		
	}

	&__wrap{
		display: grid;
		gap: 8rem;
		grid-template-columns: repeat(2, 1fr);
		@include mediaTablet{
			grid-template-columns: repeat(1, 1fr);
		}
	}

	&__heading {
		margin-bottom: 1.5rem;
	}

	&__text {
		margin-bottom: 3rem;
	}

	&__image-wrap {
		position: relative;
		overflow: hidden;
		max-width: 460px;
		justify-content: flex-end;
		align-self: flex-end;
	}

	&__image {
		
	}

	&__shadow {
		@include shadow;

	}
}
