.header{
	position: fixed;
	width: 100%;
	background-color: transparent;
	z-index: 4;
	@include mediaTablet{
		width: 100%;
	}
	
	&__logo img {
    max-width: 70px;
  }

	&__nav{
		height: 3.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1024px;
		margin-inline: auto;
		@media screen and (max-width: 1135px) {
			margin-inline: 3rem;
		}
		@include mediaTablet{
			margin-inline: 1.5rem;
		}
	}

	&__toggle{
		display: none;
		@include mediaTablet{
			display: flex;
			font-size: 1.25rem;
			color: $title;
			cursor: pointer;
		}
	}

	&__close{
		display: none;
		@include mediaTablet{
			display: flex;
			font-size: 1.25rem;
			color: $title;
			cursor: pointer;
			position: absolute;
			top: 1rem;
			right: 1.5rem;
		}

	}
	&__wrap{
		@include mediaTablet{
			position: fixed;
			top: -100%;
			left: 0;
			background-color: hsla(0, 0%, 0%, 0.3);
			width: 100%;
			padding-block: 4rem;
			transition: top 0.4s;
			backdrop-filter: blur(24px);
		}
		&.open{
			top: 0;
		}
	}
	&__links{
		text-align: center;
		display: flex;
		flex-direction: row;
		gap: 4rem;
		@include mediaTablet{
			flex-direction: column;
			gap: 2.5rem;
		}
		
		& a{
			position: relative;
			color: $title;
			font-family: $font-secondary;
			font-weight: 500;
			&::after{
			position: absolute;
			content: '';
			width: 0;
			height: 2px;
			background-color: $title;
			left: 0;
			bottom: -0.5rem;
			transition: width 0.4s;
			}

			&:hover::after{
				width: 70%;
			}
		}
	}
}
.active-link::after{
	width: 70% !important;
}
.header-scroll:after{
	content: '';
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(0, 0%, 0%, 0.3);
	backdrop-filter: blur(24px);
	z-index: -1;
}
