.header {
  background-image: url();
  &__nav {
    display: flex;
    justify-content: space-between;
  }
  &__logo img {
    max-width: 70px;
  }
  &__links {
    display: flex;
    gap: 4rem;
    & li a {
      color: $text;
      font-weight: 500;
    }
  }
}
