@mixin mediaTablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}
@mixin mediaMobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}
@mixin shadow{
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, 
	hsla(0, 0%, 0%, 0) 50%,
	hsl(0, 0%, 0%) 125%);
}