//Fonts
$font-primary: "Oswald", sans-serif;
$font-secondary: "Poppins", sans-serif;
//Colors
$primary: #000000;
$footer: #141414;
$text: #B3B3B3;
$text-light: #999999;
//Breakpoints
$tablet: 767px;
$mobile: 575px;
